### Lab: Filtering, Sorting, and Grouping Data in Pandas for Effective Analysis of Real-World Datasets (Superstore Dataset)


#### Problem Statement:
In real-world datasets, data analysis requires filtering, sorting, and grouping to extract meaningful insights. This lab will explore these operations using Pandas on the Superstore dataset to gain useful business insights.


#### Objective:
- Learn how to filter data based on specific conditions.
- Sort data to identify trends and patterns.
- Group data for aggregated analysis.
- Analyze sales performance based on different factors.


#### Requirements:
- Python installed (version 3.x recommended).
- Pandas and NumPy libraries installed (`pip install pandas numpy`).
- Jupyter Notebook (optional but recommended for running the lab).
- Superstore dataset (CSV file) downloaded.

**Part 1: Importing Libraries and Loading Data**

In [1]:
# import necessary library
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("Superstore.xlsx")
print("Dataset Loaded Successfully")
df.head()

Dataset Loaded Successfully

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1.0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2.0,0.00,41.9136
1,2.0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3.0,0.00,219.5820
2,3.0,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2.0,0.00,6.8714
3,4.0,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0,0.45,-383.0310
4,5.0,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2.0,0.20,2.5164

In [6]:
# Load the dataset

Dataset Loaded Successfully

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164

**Part 2: Filtering Data**

In [4]:
print("Orders with Sales greater than $500:")
sales_500=df[df['Sales']>500]
sales_500.head()

Orders with Sales greater than $500:

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
1,2.0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3.0,0.00,219.5820
3,4.0,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0,0.45,-383.0310
7,8.0,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032.0,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520,6.0,0.20,90.7152
10,11.0,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032.0,West,FUR-TA-10001539,Furniture,Tables,Chromcraft Rectangular Conference Tables,1706.1840,9.0,0.20,85.3092
11,12.0,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032.0,West,TEC-PH-10002033,Technology,Phones,Konftel 250 ConferenceÂ phoneÂ - Charcoal black,911.4240,4.0,0.20,68.3568

In [8]:
# Filter for orders with Sales greater than $500

Orders with Sales greater than $500:

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
7,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,907.1520,6,0.20,90.7152
10,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Furniture,Tables,1706.1840,9,0.20,85.3092
11,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,911.4240,4,0.20,68.3568

In [6]:
print("Orders from the West region:")
sales_west=df[df['Region']=='West']
sales_west.head()

Orders from the West region:

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
2,3.0,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.620,2.0,0.0,6.8714
5,6.0,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032.0,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.860,7.0,0.0,14.1694
6,7.0,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032.0,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.280,4.0,0.0,1.9656
7,8.0,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032.0,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.152,6.0,0.2,90.7152
8,9.0,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032.0,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.504,3.0,0.2,5.7825

In [9]:
# Filter for orders from a specific region (e.g., 'West')

Orders from the West region:

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.620,2,0.0,6.8714
5,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,48.860,7,0.0,14.1694
6,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,7.280,4,0.0,1.9656
7,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,907.152,6,0.2,90.7152
8,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,18.504,3,0.2,5.7825

**Part 3: Sorting Data**

In [9]:
print("Top 5 highest Sales orders:")
sales_sort=df.sort_values(by='Sales',ascending=False)
sales_sort.head()

Top 5 highest Sales orders:

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
2697,2698.0,CA-2014-145317,2014-03-18,2014-03-23,Standard Class,SM-20320,Sean Miller,Home Office,United States,Jacksonville,...,32216.0,South,TEC-MA-10002412,Technology,Machines,Cisco TelePresence System EX90 Videoconferenci...,22638.480,6.0,0.5,-1811.0784
6826,6827.0,CA-2016-118689,2016-10-02,2016-10-09,Standard Class,TC-20980,Tamara Chand,Corporate,United States,Lafayette,...,47905.0,Central,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,17499.950,5.0,0.0,8399.9760
8153,8154.0,CA-2017-140151,2017-03-23,2017-03-25,First Class,RB-19360,Raymond Buch,Consumer,United States,Seattle,...,98115.0,West,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,13999.960,4.0,0.0,6719.9808
2623,2624.0,CA-2017-127180,2017-10-22,2017-10-24,First Class,TA-21385,Tom Ashbrook,Home Office,United States,New York City,...,10024.0,East,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,11199.968,4.0,0.2,3919.9888
4190,4191.0,CA-2017-166709,2017-11-17,2017-11-22,Standard Class,HL-15040,Hunter Lopez,Consumer,United States,Newark,...,19711.0,East,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,10499.970,3.0,0.0,5039.9856

In [10]:
# Sorting by Sales in descending order

Top 5 highest Sales orders:

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
2697,Standard Class,Home Office,United States,Jacksonville,Florida,32216,South,Technology,Machines,22638.480,6,0.5,-1811.0784
6826,Standard Class,Corporate,United States,Lafayette,Indiana,47905,Central,Technology,Copiers,17499.950,5,0.0,8399.9760
8153,First Class,Consumer,United States,Seattle,Washington,98115,West,Technology,Copiers,13999.960,4,0.0,6719.9808
2623,First Class,Home Office,United States,New York City,New York,10024,East,Technology,Copiers,11199.968,4,0.2,3919.9888
4190,Standard Class,Consumer,United States,Newark,Delaware,19711,East,Technology,Copiers,10499.970,3,0.0,5039.9856

In [11]:
print("Bottom 5 least profitable orders:")
profit_sort=df.sort_values(by='Profit')
profit_sort.head()

Bottom 5 least profitable orders:

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
7772,7773.0,CA-2016-108196,2016-11-25,2016-12-02,Standard Class,CS-12505,Cindy Stewart,Consumer,United States,Lancaster,...,43130.0,East,TEC-MA-10000418,Technology,Machines,Cubify CubeX 3D Printer Double Head Print,4499.985,5.0,0.7,-6599.9780
683,684.0,US-2017-168116,2017-11-04,2017-11-04,Same Day,GT-14635,Grant Thornton,Corporate,United States,Burlington,...,27217.0,South,TEC-MA-10004125,Technology,Machines,Cubify CubeX 3D Printer Triple Head Print,7999.980,4.0,0.5,-3839.9904
9774,9775.0,CA-2014-169019,2014-07-26,2014-07-30,Standard Class,LF-17185,Luke Foster,Consumer,United States,San Antonio,...,78207.0,Central,OFF-BI-10004995,Office Supplies,Binders,GBC DocuBind P400 Electric Binding System,2177.584,8.0,0.8,-3701.8928
3011,3012.0,CA-2017-134845,2017-04-17,2017-04-23,Standard Class,SR-20425,Sharelle Roach,Home Office,United States,Louisville,...,80027.0,West,TEC-MA-10000822,Technology,Machines,Lexmark MX611dhe Monochrome Laser Printer,2549.985,5.0,0.7,-3399.9800
4991,4992.0,US-2017-122714,2017-12-07,2017-12-13,Standard Class,HG-14965,Henry Goldwyn,Corporate,United States,Chicago,...,60653.0,Central,OFF-BI-10001120,Office Supplies,Binders,Ibico EPK-21 Electric Binding System,1889.990,5.0,0.8,-2929.4845

In [11]:
# Sorting by Profit in ascending order

Bottom 5 least profitable orders:

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
7772,Standard Class,Consumer,United States,Lancaster,Ohio,43130,East,Technology,Machines,4499.985,5,0.7,-6599.9780
683,Same Day,Corporate,United States,Burlington,North Carolina,27217,South,Technology,Machines,7999.980,4,0.5,-3839.9904
9774,Standard Class,Consumer,United States,San Antonio,Texas,78207,Central,Office Supplies,Binders,2177.584,8,0.8,-3701.8928
3011,Standard Class,Home Office,United States,Louisville,Colorado,80027,West,Technology,Machines,2549.985,5,0.7,-3399.9800
4991,Standard Class,Corporate,United States,Chicago,Illinois,60653,Central,Office Supplies,Binders,1889.990,5,0.8,-2929.4845

**Part 4: Grouping Data**

In [13]:
print("Total Sales per Category:")
category=df.groupby('Category')['Sales'].sum()
category

Total Sales per Category:

Category
Furniture          741999.7953
Office Supplies    719047.0320
Technology         836154.0330
Name: Sales, dtype: float64

In [14]:
# Group by Category and calculate total sales

Total Sales per Category:

Category
Furniture          741999.7953
Office Supplies    719047.0320
Technology         836154.0330
Name: Sales, dtype: float64

In [15]:
print("Average Profit per State:")
state=df.groupby('State')['Profit'].mean()
state

Average Profit per State:

State
Alabama                  94.865989
Arizona                 -15.303235
Arkansas                 66.811452
California               38.171608
Colorado                -35.867351
Connecticut              42.823071
Delaware                103.930988
District of Columbia    105.958930
Florida                  -8.875461
Georgia                  88.315453
Idaho                    39.367767
Illinois                -25.625787
Indiana                 123.375411
Iowa                     39.460397
Kansas                   34.851813
Kentucky                 80.573357
Louisiana                52.288150
Maine                    56.810775
Maryland                 66.963608
Massachusetts            50.262975
Michigan                 95.934069
Minnesota               121.608847
Mississippi              59.867475
Missouri                 97.518341
Montana                 122.221900
Nebraska                 53.607742
Nevada                   85.045279
New Hampshire            63.203807
New Jersey               75.176260
New Mexico               31.273408
New York                 65.637011
North Carolina          -30.083985
North Dakota             32.878529
Ohio                    -36.186304
Oklahoma                 73.544788
Oregon                   -9.600569
Pennsylvania            -26.507598
Rhode Island            130.100523
South Carolina           42.120395
South Dakota             32.902358
Tennessee               -29.189583
Texas                   -26.121174
Utah                     48.047802
Vermont                 204.088936
Virginia                 83.026564
Washington               66.013146
West Virginia            46.480400
Wisconsin                76.380004
Wyoming                 100.196000
Name: Profit, dtype: float64

In [16]:
# Group by State and find the average profit

Average Profit per State:

State
Alabama                  94.865989
Arizona                 -15.303235
Arkansas                 66.811452
California               38.171608
Colorado                -35.867351
Connecticut              42.823071
Delaware                103.930988
District of Columbia    105.958930
Florida                  -8.875461
Georgia                  88.315453
Idaho                    39.367767
Illinois                -25.625787
Indiana                 123.375411
Iowa                     39.460397
Kansas                   34.851813
Kentucky                 80.573357
Louisiana                52.288150
Maine                    56.810775
Maryland                 66.963608
Massachusetts            50.262975
Michigan                 95.934069
Minnesota               121.608847
Mississippi              59.867475
Missouri                 97.518341
Montana                 122.221900
Nebraska                 53.607742
Nevada                   85.045279
New Hampshire            63.203807
New Jersey               75.176260
New Mexico               31.273408
New York                 65.637011
North Carolina          -30.083985
North Dakota             32.878529
Ohio                    -36.186304
Oklahoma                 73.544788
Oregon                   -9.600569
Pennsylvania            -26.507598
Rhode Island            130.100523
South Carolina           42.120395
South Dakota             32.902358
Tennessee               -29.189583
Texas                   -26.121174
Utah                     48.047802
Vermont                 204.088936
Virginia                 83.026564
Washington               66.013146
West Virginia            46.480400
Wisconsin                76.380004
Wyoming                 100.196000
Name: Profit, dtype: float64

**Part 5: Aggregating Data**

In [17]:
print("Total and Average Sales per Region:")
agg=df.groupby('Region')['Sales'].agg(['sum','mean'])
agg

Total and Average Sales per Region:

                 sum        mean
Region
Central  501239.8908  215.772661
East     678781.2400  238.336110
South    391721.9050  241.803645
West     725457.8245  226.493233

In [17]:
# Finding total and average sales per region

Total and Average Sales per Region:
                 sum        mean
Region
Central  501239.8908  215.772661
East     678781.2400  238.336110
South    391721.9050  241.803645
West     725457.8245  226.493233